<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Ritik Gautam's Portfolio</title>

  <!-- Bootstrap and FontAwesome -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/Content/style.css">
  
  <!-- Additional Media Queries CSS -->
  <link rel="stylesheet" href="/Content/laptop.css" media="(min-width: 1025px)"> <!-- Laptop styles -->
  <link rel="stylesheet" href="/Content/tablet.css" media="(max-width: 1024px) and (min-width: 769px)"> <!-- Tablet styles -->
  <link rel="stylesheet" href="/Content/phone.css" media="(max-width: 768px)"> <!-- Phone styles -->
  <link rel="stylesheet" href="/Content/fluid.css"> <!-- Fluid styles -->
</head>
<body>
