<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<!-- Home Section -->
<section id="home" class="py-5">
  <div class="container">
    <div class="greeting text-center mb-4">
      <h1 class="display-4">Welcome to Ritik's Portfolio!</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="/Assets/ritik.jpg" alt="Ritik Gautam" class="profile-photo img-fluid rounded-circle">
    </div>
      <div class="col-md-8">
        <p class="lead">Welcome! I’m Ritik, and I’m passionate about harnessing technology to solve problems and create innovative solutions. Explore my journey and join me on this exciting adventure!</p>
        <a href="/about" class="btn btn-primary mt-3">Learn More About Me >>> </a>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
